body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.carousel__content {
  width: 100%;
}


.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px var(--primary-shadow-color) !important;
}
.rec-arrow{
  position: absolute;
  z-index: 10;
  opacity: .4;
  color: white !important;
}
.rec-arrow:focus {
  background-color: var(--primary-color) !important;
}
.rec-arrow:hover{
  background-color: var(--primary-color) !important;
  opacity: 1;
  border: none;
}
.rec-arrow-left {
  left: 0;
}
.rec-arrow-right {
  right: 0;
}



.rec-pagination {
  bottom: 25px !important;
  position: absolute;
}
.rec-dot_active {
  background-color: white !important;
  border-color: white !important;
  /* box-shadow: 0 0 1px 3px var(--primary-shadow-color) !important; */
}
.rec-dot {
  box-shadow: 0 0 1px 3px white !important;
}



.rec-carousel-wrapper {
  position: relative;
  width: 100%;
}



.container {
  padding: 30px;
}



.text-center { text-align: center;}



.d-flex { display: flex; }
.flex-column { flex-direction: column;}
.wrap { flex-wrap: wrap; }
.align-items-center { align-items: center;}
.justify-content-center { justify-content: center;}

.w-50 {width: 50%;}
.w-100 { width: 100%;}

