:root {
    --primary-color: rgb(255, 197, 109);
    --primary-shadow-color: rgb(255, 197, 109, 0.5);
    --secondary-color: rgb(255, 164, 73);
    --danger-color: rgb(245, 20, 31);
    --dark-color: rgb(80, 80, 80);
    --white-color: rgb(255, 255, 255);
}
